@use '../variables' as *;

.details-section {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  margin: 10rem 0 10rem 5rem;
  overflow: hidden;

  @media (max-width: $breakpoint-xsm) {
    margin: 5rem 0 10rem 0;
    align-items: center;
    padding: 0 1rem;
  }

  @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
    margin: 5rem 0 10rem 0;
    align-items: center;
    padding: 0 1rem;
  }

  .title-section {
    font-size: 4rem;
    padding: 0;
    margin: 1rem 0;

    @media (max-width: $breakpoint-xsm) {
      margin-left: 0;
      font-size: 2rem;
    }

    @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
      margin-left: 0;
      font-size: 3rem;
    }
  }

  p {
    max-width: 40rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: $light-grey;
    line-height: 2rem;

    @media (max-width: $breakpoint-xsm) {
      font-size: 1rem;
    }

    @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
      font-size: 1.1rem;
    }

    a {
      color: $gradient-end;
      font-weight: 700;
      transition: ease-in-out 0.5;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .details-email {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
    color: $gradient-end;

    &:hover {
      color: $light-grey;
      cursor: pointer;
    }

    i {
      font-size: 1.5rem;

      @media (max-width: $breakpoint-xsm) {
        font-size: 1rem;
      }

      @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
        font-size: 1.1rem;
      }
    }

    a {
      font-size: 1.5rem;
      font-weight: 500;

      @media (max-width: $breakpoint-xsm) {
        font-size: 1rem;
      }

      @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
        font-size: 1.1rem;
      }
    }
  }

  .view-button {
    background: $gradient-end;
    width: 12rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $dark_background;
    transition: ease-in-out 0.1s;
    display: flex;
    gap: 0.5rem;
    position: relative;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }

    &:hover span {
      transform: translate(10%, -10%);
      transition: transform 0.1s ease;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5rem;
      height: 1.3rem;
      background: $dark_background;
      transform: translate(50%, -50%) rotate(45deg);
    }
  }

  .background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
}
