@import '../variables';

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 5rem;
  padding-left: 5vw;
  height: 100vh;
  color: #fff;
  gap: 0.5rem;
  overflow: hidden;

  @media (max-width: $breakpoint-md) {
    padding-top: 7rem;
    padding-left: 1.5rem;
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    padding-left: 5.5rem;
  }

  h1 {
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0.5rem;
    color: $light-grey;

    @media (max-width: $breakpoint-md) {
      font-size: 1rem;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 1.5rem;
    }
  }

  .role-text {
    font-size: 5rem;
    font-weight: 700;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      font-size: 2.3rem;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 3.5rem;
    }
  }

  .roles-wrapper {
    display: flex;
    column-gap: 0.7rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    @media (max-width: $breakpoint-md) {
      padding-top: 1rem;
    }
    .roles-container {
      position: relative;
      display: flex;
      flex-grow: 1;

      div {
        color: transparent;
        background-image: linear-gradient(
          65deg,
          $gradient-start 0%,
          $gradient-start 15%,
          $gradient-end 40%
        );
        background-clip: text;
        font-size: 4rem;
        font-weight: 600;
        // color: #fff;
        border-radius: 5px;
        opacity: 0;
        transform: translateX(100%);
        transition:
          opacity 0.5s ease-in-out,
          transform 0.5s ease-in-out;
        position: absolute;
        left: 0;

        @media (max-width: $breakpoint-md) {
          font-size: 2rem;
        }

        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
          font-size: 3rem;
        }
      }

      .active {
        opacity: 0.9;
        transform: translateX(0%);
      }
    }
  }

  .plus {
    // color: transparent;
    color: $dark-grey;
    font-size: 6rem;
    line-height: 4.8rem;
    font-weight: 600;

    @media (max-width: $breakpoint-md) {
      font-size: 3rem;
      line-height: 2.3rem;
    }

    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      font-size: 5rem;
      line-height: 3.5rem;
    }
  }

  .background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; /* Place it behind the content */
  }
}

.text-span {
  position: relative;
  display: inline-block;
  transition: background-position 0.5s ease-in-out;
  z-index: 1;
}

.text-span:hover {
  background-image: linear-gradient(to right, $gradient-start, $gradient-end);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background-position 0.5s ease-in-out;
}
