@import '../variables';

.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  overflow: hidden;
  z-index: 9999;

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
    position: relative;
    min-height: 80vh;
  }

  @media (max-width: $breakpoint-md) {
    position: relative;
    min-height: 50vh;
  }
}
