@use '../variables' as *;

.loading-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: $dark-background;
  z-index: 9999;

  .loading-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  img {
    height: 80px;
    width: auto;

    @media (max-width: $breakpoint-xsm) {
      height: 60px;
      width: auto;
    }

    @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
      height: 70px;
      width: auto;
    }
  }
}
