@import '../variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
  background: rgba($dark-background, 0.7);

  @media (max-width: $breakpoint-md) {
    background: rgba($dark-background, 0.9);
  }

  ul {
    position: relative;
    list-style: none;
    display: flex;
    padding: 1.1rem 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    li {
      font-size: 1.2rem;
      transition:
        color 0.3s ease,
        transform 0.3s ease;

      a {
        text-decoration: none;
        color: $light-grey;
        padding: 0.3rem 0.8rem 0.8rem;
        transition: color 0.3s ease;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background: linear-gradient(to right, $gradient-start, $gradient-end);
          z-index: -1;
          border-radius: $border-radius $border-radius $border-radius 0;
          transition: height 0.3s ease;
        }

        &:hover:before {
          top: -$border-height;
          height: calc(100% + #{$border-height});
        }

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .special a {
      font-family: 'Tourney', sans-serif;
      font-size: 3rem;
      padding: 0 0.8rem 0.3rem;
      color: transparent;
      background-image: linear-gradient(
        to right,
        $gradient-start,
        $gradient-end
      );
      -webkit-background-clip: text;
      background-clip: text;

      &:hover {
        color: #fff;
      }
    }

    .nav-sections {
      display: flex;
      gap: 1rem;

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    .nav-sections.show {
      @media (max-width: $breakpoint-md) {
        position: absolute;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        transform: translateY(50%);
        align-items: center;
        padding-top: 10rem;
        background-color: $dark-background;
        background-color: rgba($dark-background, 0.95);
        margin-top: 4rem;

        li a {
          font-size: 2rem;
        }
      }
    }

    .nav-icons {
      display: flex;
      gap: 1rem;
      margin-right: 5rem;

      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }

    .nav-icons.show {
      @media (max-width: $breakpoint-md) {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2.5rem 3rem;
      }
    }

    .logo-wrapper {
      display: flex;
      margin-left: 5rem;

      @media (max-width: $breakpoint-md) {
        margin-left: 2.5rem;
      }
    }

    .menu-icon {
      display: none;
      margin-right: 3rem;

      &:hover {
        cursor: pointer;
      }
      @media (max-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .menu-icon-close {
      display: none;
    }

    .menu-icon-close.show {
      margin-right: 3rem;

      &:hover {
        cursor: pointer;
      }
      @media (max-width: $breakpoint-md) {
        display: inline-block;
      }
    }

    .menu-icon-a {
      font-size: 2rem;
      color: transparent;
      background-image: linear-gradient(
        to right,
        $gradient-start,
        $gradient-end
      );
      -webkit-background-clip: text;
      background-clip: text;
    }

    .menu-icon.hide {
      display: none;
    }
  }
}
