@import '../variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  ul {
    list-style: none;
    display: flex;
    padding: 1.5rem 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    li {
      font-size: 1.2rem;
      transition:
        color 0.3s ease,
        transform 0.3s ease;

      a {
        text-decoration: none;
        color: $light-grey;
        padding: 0.3rem 0.8rem 0.8rem;
        transition: color 0.3s ease;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 0;
          background: linear-gradient(to right, $gradient-start, $gradient-end);
          z-index: -1;
          border-radius: $border-radius $border-radius $border-radius 0;
          transition: height 0.3s ease;
        }

        &:hover:before {
          top: -$border-height;
          height: calc(100% + #{$border-height});
        }

        &:hover {
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .special a {
      font-family: 'Tourney', sans-serif;
      font-size: 3rem;
      padding: 0 0.8rem 0.3rem;
      color: transparent;
      background-image: linear-gradient(
        to right,
        $gradient-start,
        $gradient-end
      );
      -webkit-background-clip: text;
      background-clip: text;

      &:hover {
        color: #fff;
      }
    }

    .nav-sections {
      display: flex;
      gap: 1rem;
    }

    .nav-icons {
      display: flex;
      gap: 1rem;
      margin-right: 5rem;
    }

    .logo-wrapper {
      display: flex;
      margin-left: 5rem;
    }
  }
}
