@use '../variables' as *;

.additional-role {
  font-size: 5rem;
  font-weight: 600;
  color: $gradient-end;

  @media (max-width: $breakpoint-xsm) {
    font-size: 1.8rem;
  }

  @media (min-width: $breakpoint-xsm) and (max-width: $breakpoint-md) {
    font-size: 2.3rem;
  }

  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    font-size: 3.5rem;
  }
}
