@import '../variables';

.reveal {
  background: red;
  position: absolute;
  top: 4;
  bottom: 4;
  left: 0;
  right: 0;
  // background: $gradient-end;
  background: blue;
  z-index: 20;
}

.hh {
  // background: red;
}
