$primary-blue: #3498db;
$light-blue: #87ceeb;
$dark-blue: #2c3e50;
$accent-blue: #5bc0de;
$dark-background: #111111;
$glow-color: rgba(52, 152, 219, 0.7);
$gradient-start: rgb(72, 114, 239); // Gradient start color
$gradient-end: #13efff; // Gradient end color
$border-height: 5px; // Height of the border-like top part
$light-grey: #ccc;
$sky-blue: #3498db;
$border-radius: 10px; // Adjust the border-radius for the gradient
$border-height: 5px; // Height of the border-like top part
