/*colors*/
$primary-blue: #3498db;
$light-blue: #87ceeb;
$dark-blue: #2c3e50;
$accent-blue: #5bc0de;
$dark-background: #111111;
$glow-color: #3498dbb3;
$gradient-start: #4872ef;
$gradient-end: #13efff;
$border-height: 5px;
$light-grey: #ccc;
$dark-grey: #5a5a5a;
$sky-blue: #3498db;
$border-radius: 10px;
$border-height: 5px;
$gradient: linear-gradient(
  to right,
  $gradient-start,
  $gradient-end
); // Define the gradient

/*breakpoints*/
$breakpoint-xsm: 450px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
